* {
	padding: 0;
	margin: 0;
}
body {
	display: flex;
	flex-direction: column;
	margin: auto;
	font-family: "Raleway", sans-serif;
}
a {
	cursor: pointer;
	text-decoration: none;
}
#wrapper {
	width: 80em;
	margin: 0 auto;
}
/* HEADER (logo + nav) */
header {
	display: flex;
	justify-content: flex-end;
	padding: 1em 0em 0em 0em;
	width: 100%;
}
nav ul {
	list-style-type: none;
	display: flex;
}
nav li {
	padding: 2em 4em 0em 0em;
	color: #deebff;
}
nav a {
	color: black;
	padding-top: 1.5em;
	border-top: 0.15em solid white;
	transition: border-color 0.5s;
}
nav a:hover, nav a:focus {
	color: #0065fc;
	border-top: 0.15em solid #0065fc;
}
#inscription {
	margin: 2em 5em 1em 0em;
}
#inscription a {
	color: #0065fc;
	font-weight: bold;
}
#logo {
	flex: 1;
	padding: 1em 0em 2em 2em;
}
/* FILTERS */
#filters {
	width: 90%;
	margin-left: 2em;
	display: flex;
	flex-direction: column;
}
h1 {
	font-size: 1.4em;
}
h2 {
	font-size: 1.2em;
}
h3 {
	font-size: 1em;
	font-weight: 400;
}
/* Search bar */
#search {
	display: flex;
	padding-top: 1em;
}
form {
	display:flex;
	width: 90%;
}
#site-search {
	border: solid 0.1em #f2f2f2;
	text-align: start;
	font-weight: 700;
	font-family: inherit;
	color: black;
	max-width: 80%;
	padding: 0rem 10% 0rem 1rem;
	outline: none;
}
::placeholder {
	color: black;
	opacity: 1;
	font-size: 1rem;
}
input:focus::placeholder {
	opacity: 0.2;
}
.grey-box-icon {
	display: flex;
	align-items: center;
	font-family: inherit;
	background-color: #f2f2f2;
	border-radius: 1em 0 0 1em;
	border: 0;
	text-align: center;
	padding-left: 2em;
}
.icon-black {
	height: 1.2rem;
	width: 1.2rem;
	position: relative;
	right: 1em;
}
.button {
	font-family: inherit;
	border-radius: 0 1em 1em 0em;
	max-height: 3em;
	border: 0;
	padding: 1rem;
	color: white;
	background-color: #0065fc;
	font-size: 1rem;
	font-weight: bold;
	cursor: pointer;
	outline: none;
}
.icon-search {
	display: none;
}
/* Filters */
.blue-circle-icon {
	display: flex;
	justify-content: space-between;
	border-radius: 100%;
	height: 2.8em;
	width: 2.8em;
	background-color: #deebff;
	position: relative;
	right: 0.2em;
	cursor: pointer;
}
.icon-svg {
	height: 1.3rem;
	width: 1.3rem;
	margin: auto;
	filter: invert(69%) sepia(98%) saturate(7465%) hue-rotate(209deg)
		brightness(99%) contrast(114%);
}
#grp-filters {
	display: flex;
	align-items: center;
	padding: 1em 1em 1em 0em;
	outline: none;
	flex-wrap: wrap;

}
.button-filter {
	display: flex;
	align-items: center;
	border-radius: 3em;
	height: 2.5em;
	margin-left: 1em;
	margin-bottom:1em;
	border: solid 0.15em #e2e2e2;
	background-color: white;
	font-family: inherit;
	font-weight: bold;
	font-size: 1em;
	color: black;
	outline: none;
	cursor: pointer;
	transition: 0.25s;
}
.button-filter:hover,
.button-filter:focus {
	box-shadow: 0 1em 0em -0.3em #0065fc75;
	transform: translateY(-0.4em);
}
.txt-filtre {
	padding: 0em 1em 0em 0.5em;
}
.infos {
	display: flex;
	align-items:center;
}
.icon-info {
	width: 1em;
	height: 1em;
	color:#0065fc;
	background-color: white;
	border: solid 0.1em #e2e2e2;
	border-radius: 100%;
	padding: 0.25em 0em 0.25em 0.6em;
	margin-right:0.5em;
}
/* MAIN CONTENT */
/* ACCOMODATIONS */
main {
	display: flex;
	flex-direction: column;
	padding:2em 2em 2em 2em;
}
#accommodations {
	display: flex;
	flex-direction: row;
}
#more {
	margin-top: 2em;
}
#more a {
	color: black;
	font-size: 0.8em;
}
#findings {
	padding: 2em 0em 2em 2em;
	border-radius: 1em;
	background-color: #f2f2f2;
	margin-right: 3em;
}
/* Card Findings */
#all-card-findings {
	display: flex;
	flex-wrap: wrap;
	width: 53em;
}
.card_find-grp {
	display: flex;
	flex-direction: column;
	border-radius: 1em;
	background-color: white;
	box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1);
	min-height: 11em;
	min-width: 15em;
	padding: 0.3em;
	margin: 2em 2em 0em 0em;
	overflow: hidden;
	cursor: pointer;
	transition: 0.5s;
}
.card_find-grp:hover,
.card_find-grp:focus {
	transform: scale(1.1);
}
.card_find-content {
	display: flex;
	flex-direction: column;
	padding: 0.4em 0em 0.4em 0.3em;
	margin-left: 0.5em;
}
.card_find-img {
	border-radius: 1em 1em 0em 0em;
	max-height: 7em;
	max-width: 15em;
	object-fit: cover;
}
.card-txt {
	color: black;
	font-size: 0.9em;
}
.card-stars {
	display: flex;
}
.star {
	filter: invert(69%) sepia(98%) saturate(7465%) hue-rotate(209deg)
		brightness(99%) contrast(114%);
	max-height: 0.8em;
	max-width: 0.8em;
}
.greystar {
	filter: invert(100%) sepia(50%) saturate(16%) hue-rotate(36deg)
		brightness(109%) contrast(90%);
	max-height: 0.8em;
	max-width: 0.8em;
}
/* MOST POPULAR */
#title {
	display: flex;
	justify-content: space-between;
}
aside {
	padding: 2em;
	background-color: #f2f2f2;
	border-radius: 1em;
	width: 50%;
	max-width: 20em;
	min-width: 17em;
}
.icon-chart {
	height: 1.5rem;
	width: 1.5rem;
}
/* Card Popular */
#all-card-popular {
	display: flex;
	flex-wrap: wrap;
}
.card_pop-grp {
	display: flex;
	border-radius: 1em;
	background-color: white;
	box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1);
	max-height: 8em;
	min-height: 8em;
	margin-top: 2em;
	width: 100%;
	min-width: 90%;
	padding: 0.3em;
	overflow: hidden;
	cursor: pointer;
	transition: 0.5s;
}
.card_pop-img {
	border-radius: 1em 0em 0em 1em;
	max-height: 8em;
	max-width: 8em;
	object-fit: cover;
}
.card_pop-grp:hover,
.card_pop-grp:focus {
	transform: scale(1.05);
}

.card_pop-img-tout-bleu {
	border-radius: 1em 0em 0em 1em;
	max-height: 12em;
	max-width: 8em;
	object-fit: cover;
}
.card_pop-content {
	display: flex;
	flex-direction: column;
	padding: 0.5em 1em 0.5em 1em;
	white-space: normal;
	font-size: 1em;
}
.card_pop-content div:last-child {
	margin-top: auto;
}
/*ACTIVITES*/
#title-activities {
	padding-bottom: 2em;
}
#activities {
	padding-top: 3em;
	width:81em;
}
#all-card-activities {
	display: flex;
	width:100%;
	margin-bottom: 2em;
}
.card_act-grp {
	display: flex;
	flex-direction: column;
	height: 27em;
	width: 100%;
	margin-right: 2.5em;
	border-radius: 1em;
	cursor: pointer;
	box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1);
}
.card_act-content {
	padding: 1em;
	background-color: white;
	border-radius: 0 0 1em 1em;
}
.block_act-img {
	border-radius: 1em 1em 0em 0em;
	overflow: hidden;
}
.card_act-img {
	height: 25em;
	width: 100%;
	object-fit: cover;
}
.card_act-txt {
	color: black;
	font-size: 1em;
}
/* Small */
.card_act-grp-small {
	display: flex;
	flex-direction: column;
	height: 14em;
	width: 100%;
	margin-right: 2.5em;
	border-radius: 1em;
	cursor: pointer;
}
.card_act-small {
	display: flex;
	flex-direction: column;
	box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1);
	height: 14em;
	width: 100%;
	margin-right: 2.5em;
	border-radius: 1em;
	cursor: pointer;
}
.card_act-smallv2 {
	display: flex;
	flex-direction: column;
	box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1);
	height: 10em;
	width: 100%;
	margin-top: 3em;
	margin-right: 2.5em;
	border-radius: 1em;
	cursor: pointer;
}
.card_act-img-small {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.card_act-img-smallv2 {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
/* Medium */
.card_act-grp-medium {
	display: flex;
	flex-direction: column;
	height: 12em;
	width: 100%;
	margin-right: 2.5em;
	border-radius: 1em;
	cursor: pointer;
}
.card_act-medium {
	display: flex;
	flex-direction: column;
	box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1);
	height: 12em;
	width: 100%;
	margin-right: 2.5em;
	border-radius: 1em;
	cursor: pointer;
	margin-bottom: 3em;
}
.card_act-img-medium {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
/* FOOTER */
footer {
	bottom: 0;
	width: 100%;
	background-color: #f2f2f2;
	padding: 3em 0em 3em 0em;
}
.footer-links{
	display: flex;
	justify-content: space-evenly;
}
.text-block {
	display: flex;
	flex-direction: column;
	line-height: 1em;
}
footer a {
	text-decoration: none;
	color: black;
	font-size: 1em;
	margin-top: 0.7em;
}
.footer-titles {
	margin-bottom:1em;
	margin-top:1em;
}
@media screen and (min-width: 1100px) and (max-width: 1330px) {
	#all-card-findings {
		width: 100%;
	}
	#wrapper {
		width: 66em;
		margin: 0 auto;
	}
	#activities{
		width:64em;
	}
}
@media screen and (min-width: 740px) and (max-width: 1100px) {
	
	header {
		justify-content: flex-start;
		max-width: 100%;
		padding: 1em 0em 0em 0em;
		width: 100%;
	}
	#wrapper {
		max-width: 100%;
		margin: 0 auto;
	}
	#filters {
		max-width: 100%;
	}
	#accommodations {
		flex-direction: column-reverse;
		justify-content: flex-start;
		width: 100%;
		margin:auto;
	}
	aside {
		width: 92%;
		max-width: 100%;
	}
	#all-card-popular{
		flex-direction: row;
	}
	.card_pop-grp {
		max-height: 8em;
		min-height: 8em;
		margin-top: 1em;
		min-width: 95%;
	}
	.card_pop-img {
		border-radius: 1em 0em 0em 1em;
		max-height: 8em;
		max-width: 8em;
		object-fit: cover;
	}
	#activities {
		width:100%;
		margin:0;
	}
	#findings {
		width:95%;
		padding:0;
		border-radius: 1em;
		background-color: #ffffff;
		margin:2em 0em 0em 0em;
	}
	#findings {
		padding: 2.8em 0em 2em 2.5em;
		border-radius: 1em;
		background-color: #f2f2f2;
		margin-right: 0;
	}
	/* Card Findings */
	#all-card-findings {
		display: flex;
		flex-wrap: wrap;
		flex-grow: 5;
		width: 95%;
	}
	.card_find-grp {
		margin: 1em 1em 0em 0em;
		min-height: 11em;
		width:45%;
	}
	.card_find-img {
		max-width: 100%;
	}	
}
@media screen and (max-width: 1100px) {
	/*ACTIVITES*/
	#activities {
		width:auto;
		margin:auto;
		max-width:90%;
	}
	#all-card-activities {
		flex-direction: column;
		justify-content: space-evenly;
		flex-wrap: wrap;
		height: auto;
		width: 100%;
	}
	.card_act-grp {
		height: 12em;
		width:100%;	
		margin-bottom:1em;	
	}
	.card_act-img {
		height: 100%;
		width:100%;	
	}
/* Small */
	.card_act-grp-small {
		height: 24em;
		width:100%;	
		margin-bottom: 2em;
	}
	.card_act-small {
		height: 12em;
		width:100%;	
		margin-bottom: 1em;	
	}
	.card_act-smallv2 {
		height: 12em;
		width:100%;	
		margin-top:0;
		margin-bottom:2em;
	}
	.card_act-img-small {
		height: 100%;
		width:100%;
		min-width: 90%;
	}
	.card_act-img-smallv2 {
		height: 100%;
		width:100%;
		min-width: 90%;	
	}
/* Medium */
	.card_act-grp-medium {
		height: 24em;
		width:100%;	
	}
	.card_act-medium {
		width:100%;	
		margin-bottom: 1em;
	}
	.card_act-img-medium {
		width:100%;
		min-width: 90%;
	}
}
@media screen and (max-width: 740px) {
/* Header */
		header {
			flex-wrap: wrap;
			justify-content: space-between;
			width: 100%;
		}
		#wrapper {
			max-width: 100%;
			margin: 0 auto;
		}
		header :nth-child(2) {
			order: 1;
		}
		#logo{
			flex:2 0 55%;
		}
		#inscription {
			margin:2em 2em 2em 2em;
		}
		nav{
			flex:1;
			width:100%;
			margin:0;
		}
		nav ul{
			width:100%;
			margin:0;
			padding-bottom:3em;
		}
		nav li {
			padding:0em 10% 1em 10%;
			margin:0;
			width: 80%;
			border-top:0;
			border-bottom: 0.2em solid grey;
		}
		nav a {
			color: black;
			text-decoration: none;			
		}
		nav a:hover, nav a:focus {
			border-top:0;
		}
		nav li:hover, nav li:focus {
			color: #0065fc;
			border-top:0;
			border-bottom: 0.2em solid #0065fc;    
		}
	/* Search bar */
		.button {
			position: relative;
			right: 1em;
			border-radius: 1em;
			padding: 1rem 0rem 1rem 2rem;
		}
		.icon-search {
			display: flex;
			height: 1.1em;
			width: 1.1em;
			position: relative;
			right: 1em;
			filter: invert(100%) sepia(91%) saturate(38%) hue-rotate(321deg)
				brightness(110%) contrast(110%);
		}
		.search-txt {
			display: none;
		}
	/* Filters */
		#filters {
			margin:0em 0em 0em 1em;
			max-width: 95%;
		}
		#grp-filters {
			flex-wrap: wrap;
			padding:0;
			margin: 1em 0em 1em 0em;
		}
		.filter-title {
			padding-right: 80%;
		}
		.button-filter {
			margin: 0.3em;
		}
		#info-txt {
			text-align: left;
		}
	/* MAIN CONTENT */
	/* ACCOMODATIONS */
		main {
			padding: 0;
			width:100%;
		}
		#accommodations {
			flex-direction: column-reverse;
			width: 100%;
			margin:auto;
		}
		#findings {
			width:95%;
			padding:0;
			border-radius: 1em;
			background-color: #ffffff;
			margin:0;
			margin:auto;
		}
	/* Card Findings */
		#all-card-findings {
			flex-direction: column;
			width:100%;
			margin:auto;
			margin:0;
		}
		.card_find-grp{
			margin:1em 0em 0em 0em;
			width: 95%;
		}
		.card_find-grp:hover,
		.card_find-grp:focus {
		transform: scale(1.05);
		}
		.card_find-img {
			max-height: 6em;
			max-width: 100%;
		}
		.card-txt {
			color: black;
			font-size: 0.9em;
		}
	/* MOST POPULAR */
		aside{
			border-radius: 0em;
			width:100%;
			max-width: 100%;
			min-width: 100%;
			padding:0em;
			margin: 1em 0em 1em 0em;
		}
		#title {
			padding: 1em;
		}
	/* Card Popular */
		.card_pop-grp {
			margin:0em 0em 1em 1em;
			width:90%;
		}
}
@media screen and (max-width: 600px) {
.footer-links {
	flex-direction: column;
	margin-left: 2em;
}
.text-block {
	margin-bottom: 1.5em;
	}
}
@media screen and (max-width: 375px) {
	#logo{
		flex:2 0 30%;
	}
	form {
		max-width: 85%;
	}
}