* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Raleway", sans-serif;
}

header {
	display: flex;
	justify-content: flex-end;
	align-items: space-between;
}
nav ul {
	list-style-type: none;
	display: flex;
}

nav a {
	color: black;
	text-decoration: none;
}

nav a:hover {
	color: #0065fc;
}
#inscription {
	padding: 1em;
	margin-left: 2em;
}
#inscription a {
	text-decoration: none;
	color: #0065fc;
	font-weight: bold;
}
#logo {
	flex: 1;
	margin-left: 2em;
}
li {
	padding: 1em;
	color: #deebff;
	font-style: bold;
}
nav a {
	position: relative;
	padding: 15px;
}

nav a:after {
	content: "";
	position: absolute;
	height: 2px;
	background-color: #0065fc;
	left: 50%;
	top: -40%;
	transform: translateX(-50%);
	transition: width 0.2s;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}
nav a:hover:after {
	width: 80%;
	opacity: 1;
}
