* {
	padding: 0;
	margin: 0;
}
#wrapper {
	max-width: 88em;
	margin: 0 auto;
}
a {
	cursor: pointer;
	text-decoration: none;
}

body {
	display: flex;
	flex-direction: column;
	margin: auto;
	font-family: "Raleway", sans-serif;
}

/* Header (logo + nav) */
header {
	display: flex;
	justify-content: flex-end;
	padding-right: 3em;
}
nav ul {
	list-style-type: none;
	display: flex;
}

nav a {
	color: black;
	text-decoration: none;
}

nav a:hover {
	color: #0065fc;
}
#inscription {
	padding: 1em;
	margin-left: 2em;
}
#inscription a {
	text-decoration: none;
	color: #0065fc;
	font-weight: bold;
}
#logo {
	flex: 1;
	padding: 1em 0em 2em 2em;
}
li {
	padding: 1em;
	color: #deebff;
	font-style: bold;
}
nav a {
	position: relative;
	padding: 15px;
}

nav a:after {
	content: "";
	position: absolute;
	height: 2px;
	background-color: #0065fc;
	left: 50%;
	top: -40%;
	transform: translateX(-50%);
	transition: width 0.2s;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}
nav a:hover:after {
	width: 80%;
	opacity: 1;
}

/* Filtres + Titres */

#filters {
	margin-left: 2em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 8em;
}
h1 {
	font-size: 1.4em;
}
h2 {
	font-size: 1.2em;
}
h3 {
	font-size: 1em;
	font-weight: 450;
	padding: 0.5em 0em 0.5em 0em;
}

/*Search bar*/
#search {
	display: flex;
	padding-top: 1em;
}
#site-search {
	border: solid 0.1em #f2f2f2;
	text-align: start;
	font-weight: 700;
	font-family: inherit;
	color: black;
	padding: 0rem 3rem 0rem 1rem;
	outline: none;
}
::placeholder {
	color: black;
	opacity: 1;
	font-size: 1rem;
}
input:focus::placeholder {
	opacity: 0.2;
}

.grey-box-icon {
	display: flex;
	align-items: center;
	font-family: inherit;
	background-color: #f2f2f2;
	border-radius: 1em 0 0 1em;
	border: 0;
	text-align: center;
	padding-left: 2em;
}
.icon-black {
	height: 1.2rem;
	width: 1.2rem;
	position: relative;
	right: 1em;
}

.button {
	font-family: inherit;
	border-radius: 0 1em 1em 0em;
	max-height: 3em;
	border: 0;
	padding: 1rem;
	color: white;
	background-color: #0065fc;
	font-size: 1rem;
	font-weight: bold;
	cursor: pointer;
	outline: none;
}

/*filters*/

.blue-circle-icon {
	display: flex;
	justify-content: space-between;
	border-radius: 100%;
	height: 2.8em;
	width: 2.8em;
	background-color: #deebff;
	position: relative;
	right: 0.2em;
	cursor: pointer;
}
.icon-svg {
	height: 1.3rem;
	width: 1.3rem;
	margin: auto;
	filter: invert(69%) sepia(98%) saturate(7465%) hue-rotate(209deg)
		brightness(99%) contrast(114%);
}

#buttons-filters {
	display: flex;
	align-items: center;
	padding: 1em 1em 1em 0em;
	outline: none;
}
.button-filter {
	display: flex;
	align-items: center;
	border-radius: 3em;
	height: 2.8em;
	margin: 1em;
	border: solid 0.15em #e2e2e2;
	background-color: white;
	font-family: inherit;
	font-weight: bold;
	font-size: 1em;
	color: black;
	outline: none;
	cursor: pointer;
}
.txt-filtre {
	padding: 0em 1em 0em 0.5em;
}

.circle-info {
	background-color: white;
	border: solid 0.1em #e2e2e2;
	border-radius: 100%;
	padding: 0.1em 0.3em 0.1em 0.3em;
	margin-right: 1em;
}
.icon-info {
	height: 0.7rem;
	width: 0.7rem;
	margin-left: 0.1em;
	filter: invert(69%) sepia(98%) saturate(7465%) hue-rotate(209deg)
		brightness(99%) contrast(114%);
}

/* Main Content */

/*HEBERGEMENTS*/

main {
	display: flex;
	flex-direction: column;
	margin-top: 9em;
	padding: 2em;
}

#accommodations {
	display: flex;
	flex-direction: row;
}

#more {
	margin-top: 2em;
}
#more a {
	color: black;
	font-size: 0.8em;
}
#findings {
	padding: 2.8em 0em 2em 2.5em;
	border-radius: 1em;
	background-color: #f2f2f2;
	max-width: 54em;
}
#all-card-findings {
	display: flex;
	flex-wrap: wrap;
}
.card-grp {
	display: flex;
	flex-direction: column;
	border-radius: 1em;
	background-color: white;
	box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1);
	min-height: 11em;
	min-width: 15em;
	padding: 0.3em;
	margin: 2em 2em 0em 0em;
	overflow: hidden;
	cursor: pointer;
}
.card-content {
	display: flex;
	flex-direction: column;
	padding: 0.4em 0em 0.4em 0.3em;
	margin-left: 0.5em;
}
.card-img {
	border-radius: 1em 1em 0em 0em;
	max-height: 7em;
	max-width: 15em;
	object-fit: cover;
}

.card-txt {
	color: black;
	font-size: 0.9em;
}

.card-stars {
	display: flex;
}
.star {
	filter: invert(69%) sepia(98%) saturate(7465%) hue-rotate(209deg)
		brightness(99%) contrast(114%);
	max-height: 0.8em;
	max-width: 0.8em;
}
.greystar {
	filter: invert(100%) sepia(50%) saturate(16%) hue-rotate(36deg)
		brightness(109%) contrast(90%);
	max-height: 0.8em;
	max-width: 0.8em;
}

aside {
	flex: 1;
	margin: 1em;
	padding: 2em;
	background-color: #f2f2f2;
	border-radius: 1em;
}

/*ACTIVITES*/

#activities {
	padding: 3em;
	background-color: #f2f2f2;
}

/* Footer */

footer {
	bottom: 0;
	min-width: 100%;
	display: flex;
	justify-content: space-evenly;
	background-color: #f2f2f2;
}
.text-block {
	display: flex;
	padding: 3em;
	flex-direction: column;
	justify-content: center;
}
footer a {
	text-decoration: none;
	color: black;
	font-size: 0.8em;
	margin-top: 0.5em;
	width: 100%;
}
